
@{
    ViewBag.Title = "SalesDetails";
}





<body>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Sales Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/SalesDetails/SalesRecords">Sales Records</a>
        </li>
    </ul>
    <h1>This is Sales Details</h1>
   <label for="SalesmanId">Date</label>
    <input type="date" class="form-control" id="SalesmanId" placeholder="SalesmanId" />

</body>

<script src="~/Scripts/jquery-3.7.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
@*<script src="~/Scripts/Salesman.js"></script>*@

<link href="https://code.jquery.com/jquery-3.7.0.js" />
<link href="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js" />
<link href="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js" />

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />
<link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" />
