
@{
    ViewBag.Title = "SalesRecords";
}




@*<head>
        <meta name="viewport" content="width=device-width">
        <title>Index</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/jquery-3.7.1.js"></script>
        <script src="~/Scripts/Salesman.js"></script>
        <link href="~/Content/bootstrap.css" rel="stylesheet" />

    </head>*@
<body>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/SalesDetails/SalesDetails">Sales Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/SalesDetails/SalesRecords">Sales Records</a>
        </li>        
    </ul>

    <h1>This is Sales Records</h1>
</body>

<script src="~/Scripts/jquery-3.7.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
@*<script src="~/Scripts/Salesman.js"></script>*@

<link href="https://code.jquery.com/jquery-3.7.0.js" />
<link href="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js" />
<link href="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js" />

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />
<link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" />
